<h1> Welcome players to </h1>
<h1> </h1>
<h1> THE ULTIMATE BATTLE!! <h1>
<h1> Warning: There WILL only be one victor <h1>
<h1> Will it be you </h1>
<h1> </h1>
<h1> </h1>
<h1> Let's do this! <h1>
<form action="/names" method="post">
<input type="text" name="player_one">
<input type="text" name="player_two">
<input type="submit" value="Submit">
</form>
